:root {
  --background-color: rgb(36, 36, 36);
  --grey-color: rgb(107, 107, 107);
  --ligth-blue-color: rgb(119, 148, 150);
  --dark-grey-color: rgb(151, 151, 151);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.background {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  position: absolute;
  background-color: var(--ligth-blue-color);
  background-image: url("./background.jpg");
  background-size: cover;
  background-position: 0% 100%;
  filter: blur(2px);
}

.container_mobile {
  width: 300px;
  height: 570px;
  border-radius: 40px;
  background-color: var(--background-color);
  margin: 40px auto;
  z-index: 10;
}

.box_up {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.camara {
  display: block;
  width: 15px;
  height: 15px;
  background-color: var(--grey-color);
  border-radius: 50%;
  position: relative;
  margin-left: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.camara::before {
  content: "";
  display: block;
  width: 11px;
  height: 11px;
  background-color: var(--ligth-blue-color);
  border-radius: 50%;
  position: absolute;
}

.circles {
  display: block;
  width: 8px;
  height: 8px;
  background-color: var(--grey-color);
  border-radius: 50%;
  margin-left: 10px;
  position: relative;
}

.circles::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: var(--grey-color);
  border-radius: 50%;
  position: absolute;
  left: 11px;
}

.audio_up {
  display: block;
  width: 60px;
  height: 7px;
  background-color: var(--grey-color);
  border-radius: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.screen {
  width: 280px;
  height: 450px;
  border-radius: 5px;
  background-color: var(--grey-color);
  background-image: url("./giphy.gif");
  background-size: cover;
  margin: 0 auto;
}

.button_down {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_home {
  width: 70px;
  height: 25px;
  border: 2px solid var(--dark-grey-color);
  border-radius: 40px;
}
